.success{
    color: green;
}
.danger{
    color: red;
}
.warning{
    color: orange;
}

.special{
    font-style: italic;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

