<p>demotdf works!</p>



<div class="container">
    <div class="row">
        <div class="col-12">

            <form #f="ngForm">
                {{f.value | json}}
            <div class="form-group">
                <label for="">Username::</label>
                <input type="text" class="form-control"
                    ngModel name="myusername" minlength="4"
                    pattern="admin"
                    #username="ngModel" required 
                 placeholder="Enter the Username">

                 <div *ngIf="username.touched && !username.valid"
                 class="alert alert-danger"> ** Please Enter the username 

                    <div *ngIf="username.errors?.minlength"> ** Please Enter the minimum length is {{username.errors?.minlength?.requiredLength}} 
                    </div>

                    <div *ngIf="username.errors?.pattern">** Please Enter the appropriate pattern 
                    </div>

                 </div>
                
            </div>

            <div class="form-group">
                <label for="">Comment::</label>
                <textarea class="form-control" placeholder="Enter the comment" 
                 ngModel   name="comment"  #comment="ngModel" required
                cols="30" rows="10"></textarea>

                <div class="alert alert-danger" *ngIf="comment.touched && comment.invalid">** Please enter the comment 

                </div>

            </div>

            <div class="checkbox">
                <label for="check1">
                  <input type="checkbox" id="check1"
                  ngModel name="issubscribed"  
                  #mail="ngModel" required> I Agree All the Terms & Conditions.
                </label>                            
            </div>

            <br>

            <button [disabled]="!f.valid" class="btn btn-outline-success">Submit</button>

        </form>
        </div>

    </div>
</div>