 <p>eventbinding2 works!</p> 

<!--
    template ref varaible 
        - it gives dom element information
        - u can manipulate/change its behavoiur 
        - it holds a handle /object of dom element 
        - #uniquename
        - u can use any html tag 
-->

    <!-- <input #inputname type="text" placeholder="Enter the Name">
    <br><br>
    <button (click)="onSend(inputname)">Send</button> <br><br>

    <input #inputname1 type="text" placeholder="Enter the Name">
    <br><br>
    <button (click)="onSend1(inputname1.value)">Send</button> <br><br> -->

    <!-- <label for="">Number1:: &nbsp;&nbsp;</label>
    <input #num1 type="text" placeholder="Enter the Number1"><br><br>
    <label for="">Number2:: &nbsp;&nbsp;</label>
    <input #num2 type="text" placeholder="Enter the Number2"><br><br>
    <button (click)="onAddition(num1.value,num2.value)">Addition</button><br><br>
    <input  type="text"  [value]="result" placeholder="Display Result"> -->


    <!-- change event 
        (change)="EventHandler"
    -->

    <input #myname type="text" 
        (change)="onChange(myname)"
    placeholder="Enter the name">
    

    














