<p>propertybinding works!</p>


<!-- 
    if u want bind property dynamically then u go for property binding 
    - u can bind property to html attribute/directive/custom attribute
    [attribute name/directive/custom attribute]="propertyName"
-->

    <!-- <input type="text" [value]="name" placeholder="Enter the name"> <br><br>

    <img [src]="imgUrl" style="width: 250px;height: 250px;"
    lt="" > -->

    <!-- Diff between string interpolation vs property binding
    
    -->

    <div hidden="{{isHidden}}">
        Show the text using String inyterpolation
    </div>

    <div [hidden]="isHidden">
        Show the text using Property binding
    </div>

